# CLion filed
.idea/

# VScode files
.vscode

# mbed files
__pycache__
BUILD/
mbed_settings.py
mbed-os/

# Libraries
FXAS21002/
FXOS8700/
Hexi_OLED_SSD1351/

# CMake files
CMakeLists.txt
mbed_config.h

# Various files
GettingStarted.html

